@model Instrumento

<div class="container">
    <h2>Editar Instrumento</h2>

    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label for="Nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="Nome" name="Nome" value="@Model.Nome" required />
        </div>
        <div class="mb-3">
            <label asp-for="Modelo">Cargo</label>
            <select asp-for="Modelo" class="form-control" asp-items="Html.GetEnumSelectList<ModeloEnum>()" ></select>
        <option value="value">text</option>
        </div>
        <div class="mb-3">
            <label for="Marca" class="form-label">Marca</label>
            <input type="text" class="form-control" id="Marca" name="Marca" value="@Model.Marca" required />
        </div>
        <div class="mb-3">
            <label for="Descricao" class="form-label">Descricao</label>
            <input type="text" class="form-control" id="Descricao" name="Descricao" value="@Model.Descricao" required />
        </div>
        <div class="mb-3">
            <label for="ValorAluguel" class="form-label">Valor Aluguel</label>
            <input type="text" class="form-control" id="ValorAluguel" name="ValorAluguel" placeholder="Valor (R$)" type="number" step="0.01" value="@Model.ValorAluguel" required />
        </div>
        <div class="mb-3">
            <label for="Id" class="form-label">Id</label>
            <input type="text" class="form-control" id="Id" name="Id" value="@Model.Id" required />
        </div>
        <!--<div class="mb-3">
            <label for="Disponivel" class="form-label">Disponível</label>
            <select class="form-select" id="Disponivel" name="Disponivel">
                <option value="true" selected="@Model">Sim</option>
            </select>
        </div>-->
        <button type="submit" class="btn btn-success">Salvar Alterações</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
