@model IEnumerable<GestaoLocacaoInstrumentos.Models.Instrumento>

@{
    ViewData["Title"] = "Instrumentos";
}

<h2 class="text-light mb-4">Lista de Instrumentos</h2>

<a asp-action="Create" class="btn btn-success mb-3">+ Novo Instrumento</a>

<!-- Alerta de sucesso -->
@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["MensagemSucesso"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
    </div>
}


@if (!Model.Any())
{
    <div class="alert alert-warning">
        Nenhum instrumento cadastrado.
    </div>
}
else
{
    <div class="table-responsive">
        <table class="table table-dark table-striped table-hover">
            <thead class="table-light">
                <tr>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Valor Aluguel</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Modelo</td>
                        <td>@item.Marca</td>
                        <td>@item.Nome</td>
                        <td>@item.Descricao</td>
                        <td>@item.ValorAluguel.ToString("C")</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Detalhes</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm ms-1">Editar</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm ms-1">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
