@model IEnumerable<GestaoLocacaoInstrumentos.Models.Instrumento>

<h1>Lista de Instrumentos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Descricao</th>
            <th>ValorAluguel</th>
            <th>Id</th>
            <th>Disponivel</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var instrumento in Model)
        {
            <tr>
                <td>@instrumento.Nome</td>
                <td>@instrumento.Modelo</td>
                <td>@instrumento.Marca</td>
                <td>@instrumento.Descricao</td>
                <td>@instrumento.ValorAluguel</td>
                <td>@instrumento.Id</td>
                <td>@instrumento.Disponivel</td>
                <td>
                    <a href="#">Editar</a> |
                    <a href="#">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
