@model GestaoLocacaoInstrumentos.Models.Estudio

<h4>Tem certeza que deseja excluir o seguinte Estúdio?</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nome:</dt>
        <dd class="col-sm-10">@Model.Nome</dd>

        <dt class="col-sm-2">Capacidade Pessoas:</dt>
        <dd class="col-sm-10">@Model.Capacidade</dd>

        <dt class="col-sm-2">Descrição:</dt>
        <dd class="col-sm-10">@Model.Descricao</dd>

        <dt class="col-sm-2">Valor:</dt>
        <dd class="col-sm-10">@Model.Valor.ToString("C")</dd>

        <dt class="col-sm-2">ID:</dt>
        <dd class="col-sm-10">@Model.Id</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
